.remote-scrollbar {
    position: relative;
    border-radius: 3px;
    flex-shrink: 0;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
}

.remote-scrollbar--horizontal {
    align-self: stretch;
}

.remote-scrollbar--vertical {
    align-self: stretch;
    min-height: 20px;
}

.remote-scrollbar__thumb {
    position: absolute;
    border-radius: 3px;
    transition: transform 0.05s ease-out, background-color 0.15s ease;
    -webkit-tap-highlight-color: transparent;
    min-width: 20px;
    min-height: 20px;
}

.remote-scrollbar--horizontal .remote-scrollbar__thumb {
    height: 100%;
    top: 0;
}

.remote-scrollbar--vertical .remote-scrollbar__thumb {
    width: 100%;
    left: 0;
}

.remote-scrollbar__thumb:hover {
    filter: brightness(1.1);
}
